@font-face {
	font-family: 'NanumGothicL';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicLight.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicLight.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicLight.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicLight.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicLight.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicLight.svg') format('svg');
}
@font-face {
	font-family: 'NanumGothic';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothic.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothic.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothic.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothic.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothic.svg') format('svg');
}
@font-face {
	font-family: 'NanumGothicEB';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicExtraBold.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicExtraBold.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicExtraBold.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicExtraBold.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumGothicExtraBold.svg') format('svg');
}
.NanumGothicL {
	font-family: NanumGothicL, sans-serif, arial !important;
}
.NanumGothic {
	font-family: NanumGothic, sans-serif, arial !important;
}
.NanumGothicEB {
	font-family: NanumGothicEB, sans-serif, arial !important;
}

@font-face {
	font-family: 'NanumBarunGothicUL';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicUltraLight.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicUltraLight.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicUltraLight.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicUltraLight.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicUltraLight.svg') format('svg');
}
@font-face {
	font-family: 'NanumBarunGothicL';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicLight.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicLight.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicLight.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicLight.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicLight.svg') format('svg');
}
@font-face {
	font-family: 'NanumBarunGothic';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothic.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothic.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothic.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothic.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothic.svg') format('svg');
}
@font-face {
	font-family: 'NanumBarunGothicB';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicBold.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicBold.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicBold.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicBold.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumBarunGothicBold.svg') format('svg');
}
.NanumBarunGothicUL {
	font-family: NanumBarunGothicUL, sans-serif, arial !important;
}
.NanumBarunGothicL {
	font-family: NanumBarunGothicL, sans-serif, arial !important;
}
.NanumBarunGothic {
	font-family: NanumBarunGothic, sans-serif, arial !important;
}
.NanumBarunGothicB {
	font-family: NanumBarunGothicB, sans-serif, arial !important;
}

@font-face {
	font-family: 'NanumSquareL';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareL.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareL.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareL.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareL.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareL.svg') format('svg');
}
@font-face {
	font-family: 'NanumSquareR';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareR.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareR.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareR.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareR.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareR.svg') format('svg');
}
@font-face {
	font-family: 'NanumSquareB';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareB.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareB.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareB.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareB.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareB.svg') format('svg');
}
@font-face {
	font-family: 'NanumSquareEB';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareEB.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareEB.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareEB.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareEB.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareEB.svg') format('svg');
}
.NanumSquareL {
	font-family: NanumSquareL, sans-serif, arial !important;
}
.NanumSquareR {
	font-family: NanumSquareR, sans-serif, arial !important;
}
.NanumSquareB {
	font-family: NanumSquareB, sans-serif, arial !important;
}
.NanumSquareEB {
	font-family: NanumSquareEB, sans-serif, arial !important;
}

@font-face {
	font-family: 'NanumSquareRoundL';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundL.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundL.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundL.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundL.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundL.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundL.svg') format('svg');
}
@font-face {
	font-family: 'NanumSquareRoundR';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundR.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundR.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundR.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundR.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundR.svg') format('svg');
}
@font-face {
	font-family: 'NanumSquareRoundB';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundB.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundB.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundB.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundB.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundB.svg') format('svg');
}
@font-face {
	font-family: 'NanumSquareRoundEB';
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundEB.eot');
	src: url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundEB.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundEB.woff2') format('woff2'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundEB.woff') format('woff'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundEB.ttf')  format('truetype'),
	url('https://cdn.hwahyang.space/hspace_v2/fonts/NanumFonts/NanumSquareRoundEB.svg') format('svg');
}
.NanumSquareRoundL {
	font-family: NanumSquareRoundL, sans-serif, arial !important;
}
.NanumSquareRoundR {
	font-family: NanumSquareRoundR, sans-serif, arial !important;
}
.NanumSquareRoundB {
	font-family: NanumSquareRoundB, sans-serif, arial !important;
}
.NanumSquareRoundEB {
	font-family: NanumSquareRoundEB, sans-serif, arial !important;
}
