{
	"groups": [
		{
			"groupId": "group-id",
			"deadlineTimestamp": 0,
			"maxParticipants": 5,
			"menus": [
				{
					"storeName": "store-name",
					"menus": [
						"menu-name"
					],
					"prices": [
						0
					]
				}
			],
			"participants": [
				{
					"memberId": "member-id",
					"menus": ["store-name|menu-name"]
				}
			]
		}
	],
	"sessions": [
		{
			"sessionId": "session-id",
			"user": "member-id",
			"group": "group-id",
			"sessionExpiresTimestamp": 0
		}
	]
}